<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>PhishGuard Analyzer</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <h1 class="ion-text-center">Bienvenue sur PhishGuard !</h1>
  <p class="ion-text-center ion-margin-bottom">
    Analysez un lien ou un texte suspect pour évaluer son risque de phishing.
  </p>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Analyse de Risque</ion-card-title>
      <ion-card-subtitle>Collez ici l'URL ou le contenu de l'e-mail à vérifier.</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>


      <ion-textarea [autoGrow]="true" label="Texte ou URL" labelPlacement="stacked"
        placeholder="https://www.site-suspect.com/..." fill="outline" rows="6" [(ngModel)]="userInput"></ion-textarea>

      <div class="ion-text-center ion-padding-top">
        <ion-button (click)="analyze()" [disabled]="userInput.length === 0" expand="block" color="success">
          Analyser la Menace
        </ion-button>

        <ion-button (click)="resetAnalysis()" expand="block" fill="clear" color="medium" class="ion-margin-top">
          Réinitialiser
        </ion-button>
      </div>

    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="analysisResult" class="ion-margin-top">
    <ion-card-header>
      <ion-card-title [color]="analysisResult?.level" class="ion-text-wrap">
        <ion-icon slot="start"
          [name]="analysisResult?.level === 'safe' ? 'shield-checkmark' : (analysisResult?.level === 'danger' ? 'warning' : 'help-circle')">
        </ion-icon>

        <span *ngIf="analysisResult?.level === 'safe'">✅ Sûr : Aucun risque détecté</span>
        <span *ngIf="analysisResult?.level === 'suspicious'">⚠️ Suspect : Risque modéré</span>
        <span *ngIf="analysisResult?.level === 'danger'">🛑 DANGER ! : Risque Élevé</span>
      </ion-card-title>
      <ion-card-subtitle>Score de risque : **{{ analysisResult?.score }}** points</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <h3>Détails de l'analyse :</h3>

      <ion-list lines="none">
        <ion-item *ngFor="let detail of analysisResult.details">
          <ion-label text-wrap>
            {{ detail.rule }}
            <p slot="end" class="ion-text-right" [ngClass]="{'danger-score': detail.points > 0}">
              (+{{ detail.points }})
            </p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

</ion-content>